* {
  margin: 0;
  padding: 0;
}
body {
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Poppins';
}
.home,
.contact,
.five-year {
  background-image: url('images/hero-image-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: screen;
  background-color: #889696;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  height: 100px;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 10px;
}
header nav {
  grid-column: 5 / span 7;
  padding: 10px;
  display: flex;
  font-size: 2em;
  justify-content: space-around;
}
nav a {
  justify-self: end;
  font-weight: 800;
  color: #333;
  text-decoration: none;
}
.main {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20x;
}
.welcome {
  margin-top: 30px;
  grid-column: 4 / span 9;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 800;
  width: 100%;
}
.welcome h1 {
  margin-bottom: 0.5em;
  margin-top: 50px;
  font-size: 4em;
  width: 100%;
  font-weight: 800;
  font-family: Poppins;
}
.welcome p {
  max-width: 860px;
}

.welcome img {
  filter: saturate(50%);
}

nav a:hover {
  color: #fff;
}
.card {
  grid-column: span 4;
  max-width: 100%;
  height: 260px;
  background-color: #ddd;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  line-height: 1.5em;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 20px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  opacity: 0.7;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  font-weight: 800;
}
button:hover {
  filter: brightness(1.8);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#projects-card button {
  margin-bottom: 5px;
}
.warranty {
  background-color: #ddd;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 2 / span 9;
  min-width: 100%;
  justify-content: flex-start;
  padding: 30px 60px;
  opacity: 0.8;
  margin-top: 50px;
  border-radius: 6px;
}
.warranty h1 {
  grid-column: span 1;
  font-size: 2em;
  justify-self: center;
  opacity: 1;
}
.warranty h3 {
  align-self: flex-start;
  font-style: bold;
}
.warranty p {
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  font-style: italic;
}
form {
  height: 600px;
  background-color: #ddd;
  opacity: 0.8;
  grid-column: 2 / span 10;
  margin: 0 auto;
  position: relative;
  top: 50px;
  bottom: 450px;
  padding: 25px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
form input {
  grid-column: 6 / span 6;
  height: 30px;
  border-bottom: 2px solid black;
  padding: 5px;
  background-color: #fff;
  border-radius: 6px;
}
#message {
  grid-column: 6 / span 6;
  height: 120px;
  border: 2px solid black;
  padding: 5px;
  background-color: #fff;
  border-radius: 6px;
}
#contact-info {
  grid-column: 1 / span 4;
  width: 100%;
  position: absolute;
  top: 10px;
  font-weight: 800;
}
#contact-info p {
  margin-top: 20px;
  line-height: 1em;
}

form button {
  grid-column: 8 / span 2;
}

.history {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.panel.introduction {
  background-color: #323230;
  padding: 30px 60px;
}
.panel.introduction h1 {
  color: #f5f5f5;
  font-size: 4em;
}
.panel.introduction a {
  margin-right: 10px;
  font-size: 1.5em;
  color: #a8a8a8;
}
.panel.introduction a:hover {
  color: #fff;
}
.panel.introduction p {
  color: #a8a8a8;
  max-width: 540px;
  line-height: 2em;
}
.panel.introduction footer {
  align-self: end;
  color: #a8a8a8;
}
.panel.about {
  grid-template-rows: 0.8fr 4fr;
  overflow: hidden;
}
.panel.about img {
  min-width: 100%;
  grid-row: span 1;
}

.panel.leadership {
  background-color: #eeeee7;
  grid-template-rows: 1fr 0.8fr 0.8fr;
  padding: 0;
  overflow: hidden;
}
.panel.leadership img {
  min-width: 100%;
  max-width: 100%;
}
.text {
  max-width: 100%;
  max-height: 100%;
  color: #323230;
  grid-row: span 1;
  padding: 10px;
}

.products-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ddd;
  background-image: url('images/welding-min.png');
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-color: #f5f5f5;
}

.product-section {
  grid-column: 2 / span 1;
  margin-top: 100px;
  height: 100px;
  background-color: #a8a8a8;
  padding: 15px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  color: black;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}
.product-section a {
  font-size: 2em;
  margin-left: 30px;
}
.product-section a:hover {
  color: white;
}

.product-section img {
  max-height: 100px;
  border-radius: 6px;
}

.products-header {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(12 1fr);
  height: 0;
  position: absolute;
}
.products-header nav {
  grid-column: span 12;
  justify-self: start;
}
.products-header nav a {
  font-size: 1.5em;
  margin-right: 30px;
  color: black;
}
.products-header nav a:hover {
  color: #fff;
}
.product-section.one {
  margin-top: 300px;
}

@media screen and (max-width: 1200px) {
  .welcome h1 {
    font-size: 3em;
  }
  .welcome img {
    height: 100px;
    width: 100px;
  }
  header nav {
    grid-column: 2 / span 9;
  }
  .panel.introduction nav {
    font-size: 0.7em;
  }
  .panel.introduction h1 {
    font-size: 3em;
  }
  .product-section a {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 992px) {
  .welcome h1 {
    font-size: 2.5em;
  }
  .welcome img {
    height: 80px;
    width: 80px;
  }
  .card {
    font-size: 0.8em;
  }
  header nav {
    grid-column: 1 / span 12;
  }
  .panel.introduction nav {
    display: flex;
    flex-direction: column;
    height: 0px;
  }
  .panel.introduction {
    justify-content: space-between;
  }
  form {
    grid-column: span 12;
  }
  form input {
    grid-column: 7 / span 5;
  }
  #message {
    grid-column: 7 / span 5;
  }
  .product-section {
    margin-top: 50px;
    grid-column: 1 / span 2;
  }
  .product-section.one {
    margin-top: 200px;
  }
  .product-section a {
    font-size: 1.2em;
  }
  .products-body header nav a {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 768px) {
  .welcome h1 {
    font-size: 2em;
  }
  header nav a {
    font-size: 0.8em;
  }
  .card {
    font-size: 0.75em;
  }
  .card button {
    max-width: 100%;
  }
  .history {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .panel.introduction,
  .panel.about {
    grid-column: span 1;
  }
  .panel.leadership {
    grid-column: span 2;
  }

  form {
    padding: 10px;
  }
  .warranty {
    grid-column: 1.5 / span 11;
    padding: 15px;
    font-size: 0.8em;
  }
  .warranty p {
    grid-column: span 12;
    justify-self: center;
    max-width: 100%;
  }
  .card {
    margin-right: 20px;
    margin-left: 20px;
  }
  li {
    margin-left: 10px;
  }
  .products-body {
    background-position: center;
    height: 600px;
  }
  .products-body header nav a {
    font-size: 1em;
  }
  .product-section {
    grid-column: 1 / span 2;
    height: 80px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .panel.introduction,
  .panel.about {
    grid-column: span 2;
  }
  .panel.introduction nav {
    height: 150px;
  }
  .panel.introduction footer {
    margin-top: 40px;
  }
  .card {
    margin-left: 10px;
    margin-right: 10px;
  }
  .welcome {
    grid-column: 2 / span 12;
  }
  .welcome h1 {
    font-size: 2em;
  }
  .welcome img {
    height: 60px;
    width: 60px;
  }
  .home header nav,
  .five-year header nav,
  .contact header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    font-size: 1.5em;
    height: 110px;
  }
  .home header nav a,
  .five-year header nav a,
  .contact header nav a {
    grid-column: 1 / span 2;
    margin-right: 10px;
    justify-self: start;
  }
  form {
    height: 550px;
    margin-top: 50px;
  }

  form input,
  #message {
    grid-column: 8 / span 5;
  }
  .product-section {
    grid-column: 1 / span 2;
    height: 80px;
    margin-top: 0px;
  }
  .products-body {
    height: 660px;
  }
  .product-section {
    height: 70px;
    margin-top: 0px;
  }
  .product-section img {
    height: 80px;
  }
}
@media screen and (max-width: 390px) {
  .card {
    grid-column: span 12;
    font-size: 1em;
  }
  .welcome img {
    height: 40px;
    width: 40px;
  }
  .welcome h1 {
    font-size: 1.5em;
  }
  #contact-info {
    grid-column: 1 / span 12;
    position: relative;
  }
  form input,
  #message {
    grid-column: 1 / span 12;
    margin-top: 10px;
  }
  form button {
    grid-column: 5 / span 4;
  }
  .products-body {
    background-size: cover;
    height: 1380px;
    grid-auto-rows: 300px;
  }

  .product-section {
    width: 600px;
    margin-top: 250px;
    height: 100px;
    align-self: start;
    font-size: 2em;
  }
  .product-section.one {
    margin-top: 600px;
  }
  .product-section.two {
    margin-top: 450px;
  }
  .product-section.three {
    margin-top: 300px;
  }
}
